.features{
    padding: 30px 0;
}
.features__title{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23 / 16 * 100%;
    text-align: center;
    color: $dark-color;
}    
.features__text{
    font-size: 16px;
    line-height: 25 / 16 * 100%;
    text-align: center;
    color: $grey-color;
    display: none;
    // visibility: hidden;
}
.features__item{
    margin-bottom: 30px;
}
.features__name{
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20 / 14 * 100%;
    color: $black-color;

    text-align: center;
}
.features__sketch{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18 / 12 * 100%;
    color: $grey-color;

    text-align: center;
}
.features__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 1px solid $accent-color;
    border-radius: 50%;
    fill: $accent-color;
    transition: border 300ms cubic-bezier(0.4, 0, 0.2, 1), fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: auto;

    &:hover,
    &:focus{
        fill: $grey-color;
        border-color: $grey-color;
    }
}
.features__button{
    display: block;
    margin: auto;
    max-width: 200px;
    text-align: center;

    font-size: 16px;
    line-height: 20 / 16 * 100%;
    color: $white-color;
    border: 1px solid transparent;
    padding: 13px 36px 15px 36px;
    border-radius: 30px;
    background: $accent-color;
    transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);

    &:hover,
    &:focus{
        background: #3763bb;
        color: $light-grey-color;
    }
}