.page-header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}
.nav{
    &__list{
        display: flex;
        justify-content: flex-end;
        padding: 40px 0;
    }

    &__item{
        margin-right: 40px;

        &:last-child{
            margin-right: 0;
        }
    }

    &__link{
        font-size: 16px;
        line-height: 20 / 16 * 100%;
        color: $white-color;
    }

    &__link--current{
        position: relative;
        color: $white-color;

        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            bottom: -42px;

            border: 1px solid $white-color;
            transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}